<section class="section swatch-black section-text-shadow section-inner-shadow">
                    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(46,51,57,1);"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12  text-center">
                                <header class="text-center  element-tall-top element-no-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <h1 class="bigger hairline bordered bordered-normal">
                    Like what you see?
                </h1>
                                    <p class="lead">With Omega you get a five star customer support. As with all our themes you will receive our 100% rock solid support and free updates.</p>
                                </header>
                                <a href="http://themeforest.net/item/omega-multi-purpose-bootstrap-html-template/8591628" class="btn btn-primary btn-lg element-short-top element-tall-bottom os-animation" target="_self" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                Get it now!
            </a>
                            </div>
                        </div>
                    </div>
                </section>