<section class="section swatch-black section-text-shadow section-inner-shadow">
	<div class="background-overlay grid-overlay-0 " style="background-color: rgba(46,51,57,1);"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12  text-center">
				<header class="text-center  element-tall-top element-no-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
					<h1 class="bigger hairline bordered bordered-normal">
						加入我们
					</h1>
					<p class="lead">扫描以下二维码，可以添加我们的官方微信来获取最新的活动信息。</p>
				</header>
				<div class="col-md-2 col-md-offset-5">
					<img src="/assets/images/qrcode.jpg" / style="padding-bottom: 30px;">
				</div>
			</div>
		</div>
	</div>
</section>