        <footer id="footer" role="contentinfo">
            <section class="section swatch-black">
                <div class="container">
                    <div class="row element-normal-top element-normal-bottom">
                        <div class="col-md-3">
                            Design and developed by CodingApe Studio &reg;.
                        </div>
                        <div class="col-md-3">
                           
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                            &copy; UNSW CSA 2015
                        </div>
                    </div>
                </div>
            </section>
        </footer>