<div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index.html" class="navbar-brand">
                <img src="/assets/images/csalogo.png" alt="One of the best themes ever">
            </a>
        </div>
        <nav class="collapse navbar-collapse main-navbar" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown menu-item-object-oxy_mega_menu ">
                    <a href="/index.html">主页</a>
                </li>
                <li class="dropdown">
                    <a href="/blog/index.html">活动</a>
                </li>
                <li class="dropdown">
                    <a href="/sponsor/index.html">合作伙伴</a>
                </li>
                <li class="dropdown">
                    <a href="/team/index.html">团队</a>
                </li>                        
            </ul>
        </nav>
    </div>
</div>