<head>
	<meta charset="utf-8">
        <title>UNSWCSA - University Of New South Wales Chinese Student Association</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
       
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/theme.min.css">
        <link rel="stylesheet" href="/assets/css/color-defaults.min.css" media="screen">
        <link rel="stylesheet" href="/assets/css/swatch-white.min.css" media="screen">
        <link rel="stylesheet" href="/assets/css/swatch-blue.min.css" media="screen">
        <link rel="stylesheet" href="/assets/css/swatch-gray.min.css" media="screen">
        <link rel="stylesheet" href="/assets/css/swatch-black.min.css" media="screen">
        <link rel="stylesheet" href="/assets/css/swatch-white-black.min.css" media="screen">
        <link rel="stylesheet" href="/assets/css/swatch-white-green.min.css" media="screen">
        <link rel="stylesheet" href="/assets/css/swatch-white-red.min.css" media="screen">
		<link rel="stylesheet" href="/assets/font-awesome-4.3.0/css/font-awesome.min.css" media="screen">
        <link rel="stylesheet" href="/assets/css/fonts.min.css" media="screen">
</head>