<div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand">
                        <img src="assets/images/omega.gif" alt="One of the best themes ever">Omega
                    </a>
                </div>
                <nav class="collapse navbar-collapse main-navbar" role="navigation">
                    <div class="menu-sidebar pull-right">
                        <div id="search-4" class="sidebar-widget  widget_search">
                            <form role="search" method="get" id="searchform" action="blog-classic.html">
                                <div class="input-group">
                                    <input type="text" value="" name="s" id="s" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                    <button class="btn" type="submit" id="searchsubmit" value="Search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown menu-item-object-oxy_mega_menu ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu row">
                                <li class="dropdown col-md-4 menu-item-object-oxy_mega_columns">
                                    <strong>Business</strong>
                                    <ul role="menu">
                                        <li>
                                            <a href="index.html">Home - Classic
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-business.html">Home - Business
                                                    
                                                        <span class="label menu-label label-primary">New!</span>
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-corporate.html">Home - Corporate
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-restaurant.html">Home - Restaurant
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-app.html">Home - App Page
                                                    
                                                </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown col-md-4 menu-item-object-oxy_mega_columns">
                                    <strong>Creative</strong>
                                    <ul role="menu">
                                        <li>
                                            <a href="index-landing.html">Home - Landing Page
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-minimal.html">Home - Minimal
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-dark.html">Home - Dark Version
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-photography.html">Home - Photography
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-portfolio.html">Home - Portfolio
                                                    
                                                </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown col-md-4 menu-item-object-oxy_mega_columns">
                                    <strong>Extra Frontpages</strong>
                                    <ul role="menu">
                                        <li>
                                            <a href="index-fullscreen.html">Home - Fullscreen
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-slideshow.html">Home - Slideshow
                                                    
                                                        <span class="label menu-label label-primary">New!</span>
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-bullet.html">Home - Bullet Nav
                                                    
                                                        <span class="label menu-label label-primary">New!</span>
                                                    
                                                </a>
                                        </li>
                                        <li>
                                            <a href="index-one-page.html">Home - One Page Style
                                                    
                                                </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="page-about-classic.html">About Us - Classic
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-about-bold.html">About Us - Bold
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-about-me.html">About Me
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-services.html">Services
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-service.html">Single Service
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-service-2.html">Single Service - Fancy
                                                    
                                                        <span class="label menu-label label-primary">New!</span>
                                                    
                                                </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li>
                                    <a href="app-page-v2.html">App Landing Page
                                                    
                                                        <span class="label menu-label label-primary">New!</span>
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-404.html">404 page
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-faq.html">FAQ page
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-maintenance.html">Maintenance Mode
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-coming-soon.html">Coming Soon Page
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-background-videos.html">Background Videos
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-right-sidebar.html">Right Sidebar Page
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="page-left-sidebar.html">Left Sidebar Page
                                                    
                                                </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Elements</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="elements-basic-type.html">Basic Type
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-headers.html">Headers
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-columns.html">Columns
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-font-icons.html">Font Icons
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-section-backgrounds.html">Section Backgrounds
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-bootstrap-components.html">Bootstrap Components
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-pricing-tables.html">Pricing Tables
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-features-lists.html">Features Lists
                                                    
                                                </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="portfolio-3-columns.html">3 Columns Classic
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-3-columns-captions.html">3 Columns with Captions
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-3-columns-fullwidth.html">3 Columns Fullwidth
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-3-columns-filters.html">3 Columns with Filters
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-3-columns-no-gutters.html">3 Columns without Gutters
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-single.html">Single Portfolio Page
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-slideshow.html">Single Slideshow page
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-4-columns.html">4 Columns Classic
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-4-columns-captions.html">4 Columns with Captions
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-4-columns-fullwidth.html">4 Columns Fullwidth
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-4-columns-filters.html">4 Columns with Filters
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-4-columns-no-gutters.html">4 Columns without Gutters
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="portfolio-masonry.html">Masonry
                                                    
                                                </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="blog-classic.html">Blog - Classic
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="blog-fullwidth.html">Blog - Fullwidth
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="blog-narrow.html">Blog - Fullwidth Narrow
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="blog-wide.html">Blog - Fullwidth Wide
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="blog-masonry.html">Blog - Masonry
                                                    
                                                </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li>
                                    <a href="blog-post.html">Blog - Single Post
                                                    
                                                </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="contact-big-map.html">Contact Us - Big Map
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="contact-big-map-alt.html">Contact Us - Big Map Alt
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="contact-small-map.html">Contact Us - Small Map
                                                    
                                                </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>