<section id="two" class="section swatch-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<header class="text-center  element-normal-top element-medium-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
					<h1 class="bigger hairline bordered bordered-normal">
						最新活动
					</h1>
				</header>
				<div class=" row element-short-top element-normal-bottom recent-simple-os-container">
					{% for post in site.posts limit: 4 %}
					<div class="col-md-3 recent-simple-os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="-webkit-animation: 0.1s;">
						<article class="post-related-post" style="background-image: url(/assets/images/{{ post.image.Thumbnail }})">
							<h4>
								<a href="{{ post.url }}">
									{{ post.title }}
								</a>
								        
							</h4>
						</article>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>