<section class="section swatch-white">
                    <div class="container-fullwidth">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="slider-flex12" class="flexslider " data-flex-speed="8000" data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" data-flex-directions="hide" data-flex-controlsalign="center" data-flex-captionhorizontal="alternate" data-flex-controlsposition="inside"
                                data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                                    <ul class="slides">
                                        <li>
                                            <figure>
                                                <img src="assets/images/uploads/slider-02-1200x400.jpg" alt="some alt">
                                                <figcaption>
                                                    <h3>Continuous support</h3>
                                                    <p>With Omega you get a five star customer support. As with all our themes you will receive our 100% rock solid support and free updates.</p>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/images/uploads/slider-03-1200x400.jpg" alt="some alt">
                                                <figcaption>
                                                    <h3>We are innovative</h3>
                                                    <p>Beautifully designed, simple and flexible, Omega is the last App you’ll ever need.</p>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/images/uploads/slider-01-1200x400.jpg" alt="some alt">
                                                <figcaption>
                                                    <h3>We are superheroes</h3>
                                                    <p>We create a unique process for each client to ensure that business objectives are met, success is achieved and users are happy.</p>
                                                </figcaption>
                                            </figure>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>