<section class="section swatch-white">
                    <div class="container-fullwidth">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="slider-flex12" class="flexslider " data-flex-speed="8000" data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" data-flex-directions="hide" data-flex-controlsalign="center" data-flex-captionhorizontal="alternate" data-flex-controlsposition="inside"
                                data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                                    <ul class="slides">
                                        <li>
                                            <figure>
                                                <img src="/assets/images/slider1.jpg" alt="welcome bbq">
                                                <figcaption>
                                                    <h3>2015 Semester 1 Welcome BBQ</h3>
													<p>活动时间：2015年3月7日11am-3pm</p>
													<p>活动地址：Maroubra Beach</p>
													<p>活动费用：会员免费，非会员$10</p>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="/assets/images/slider2.jpg" alt="slider2">
                                                <figcaption>
                                                    <h3>2015 Semester 1 O-week</h3>
                                                    
                                                </figcaption>
                                            </figure>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>