<!DOCTYPE>
<html>
{% include head.html %}

<body class="normal-header">
	{% include header.html %}
	<div id="content">
		<div id="content">
			<article>
				<section id="two" class="section swatch-white">
					<div class="container">
						<div class="row element-normal-top element-normal-bottom">
							<div class="col-md-8 col-md-offset-2">
								{% for post in paginator.posts %}
								<article class="post post-showinfo">
									<div class="post-media">
										<div class="figure  element-no-top element-normal-bottom image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none" data-os-animation-delay="0s">
											<a class="figure-image" href="{{ post.url }}" title="{{ post.title }}">
												<img src="/assets/images/{{ post.image.feature }}" alt="{{ post.title }}">
												<div class="figure-overlay grid-overlay-0">
													<div class="figure-overlay-container">
														<span class="figure-icon">
															<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="none"><g>
																<path display="inline" fill="none" stroke-width="1" stroke-miterlimit="10" d="M45.634,50.124
																c-0.939-0.939-2.425-0.939-3.364,0l-9.833,9.831c-0.938,0.938-0.938,2.426,0,3.364l5.175,5.175c0.939,0.938,2.426,0.938,3.364,0
																l9.833-9.832c0.937-0.938,0.937-2.426,0-3.362L45.634,50.124z"></path>
																<path display="inline" fill="none" stroke-width="1" stroke-miterlimit="10" d="M64.261,31.495
																c-0.937-0.938-2.423-0.938-3.362,0l-9.831,9.832c-0.94,0.938-0.94,2.424,0,3.364l5.174,5.174c0.938,0.939,2.427,0.939,3.364,0
																l9.831-9.832c0.94-0.938,0.94-2.424,0-3.362L64.261,31.495z"></path>
																<line display="inline" fill="none" stroke-width="1" stroke-miterlimit="10" x1="44.34" y1="56.591" x2="57.535" y2="43.396"></line></g>
															</svg>
														</span>
													</div>
												</div>
											</a>
										</div>
									</div>
									<header class="post-head">
										<h2 class="post-title">
											<a href="{{ post.url }}" title="{{ post.title }}">
												{{ post.title }}
											</a>
										</h2>
										<small> Host by 
											UNSW CSA
											on {{ post.date |  date: "%-d %B %Y" }}
										</small>
										<span class="post-icon" style="padding:10px;">
											<i class="fa fa-picture-o fa-2x"></i>
										</span>
									</header>
									<div class="post-body">
										<p>
											{{ post.description }}
										</p>
										<a class="post-more-link btn btn-primary" href="{{ post.url }}">
											read more
										</a>
									</div>
								</article>
								{% endfor%}
			                                
			 
								<div class="text-center post-showinfo">
									<ul class="post-navigation pagination">
									    {% if paginator.previous_page %}
									      {% if paginator.previous_page == 1 %}
									        <li><a href="/"><</a></li>
									      {% else %}
									        <li><a href="/page{{ paginator.previous_page }}" class="btn"><</a></li>
									      {% endif %}
									    {% else %}
									      <li class="disabled"><a><</a></li>
									    {% endif %}
									    
								        {% if paginator.page == 1 %}
								          <li class="active"><span class="current-page">1</span></li>
								        {% else %}
								          <li><a href="/">1</a></li>
								        {% endif %}
										
								      	{% for count in (2..paginator.total_pages) %}
								        	{% if count == paginator.page %}
								            	<li class="active"><span class="current-page">{{ count }}</span></li>
								          	{% else %}
								            	<li><a href="/page{{ count }}">{{ count }}</a></li>
								          	{% endif %}
										{% endfor %}
									    
									    {% if paginator.next_page %}
									      <li><a href="/page{{ paginator.next_page }}">></a></li>
									    {% else %}
									      <li class="disabled"><a>></a></li>
									    {% endif %}
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				{% include contact.html %}
				
				{% include footer.html %}
			</article>
		</div>
	</div>
	
	

	<script src="/assets/js/packages.min.js"></script>
	<script src="/assets/js/theme.min.js"></script>
</body>
</html>