<!DOCTYPE>
<html>
{% include head.html %}

<body class="normal-header">
	{% include header.html %}
	<div id="content">
				
		<article>
		                <section id="two" class="section swatch-white">
		                    <div class="container">
		                        <div class="row element-normal-top element-normal-bottom">
		                            <div class="col-md-9">
		                                <article class=" post post-showinfo">
		                                    <div class="post-media">
		                                        <div class="figure  element-no-top element-normal-bottom image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none" data-os-animation-delay="0s">
		                                            <a href="/assets/images/{{ page.image.feature}}" class="figure-image magnific" data-links="" target="_self">
		                                                <img src="/assets/images/{{ page.image.feature}}" alt="" class="normalwidth">
		                                                <div class="figure-overlay grid-overlay-0">
		                                                    <div class="figure-overlay-container">
		                                                        <span class="figure-icon">
		                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="none">
		                                            <g>
		                                                <line display="inline" fill="none" stroke-width="1" stroke-miterlimit="10" x1="50.941" y1="34.953" x2="50.941" y2="65.047"></line>
		                                                <line display="inline" fill="none" stroke-width="1" stroke-miterlimit="10" x1="65.988" y1="50" x2="35.895" y2="50"></line>
		                                            </g>
		                                        </svg>
		                                    </span>
		                                                    </div>
		                                                </div>
		                                            </a>
		                                        </div>
		                                    </div>
		                                    <header class="post-head">
		                                        <h1 class="post-title">
		                       					 {{ page.title }}
		                    </h1>
		                                        <small>
		                        by <a href="{{ page.url }}">UNSW CSA</a>
		                        on {{ post.date |  date: "%-d %B %Y" }}
		                    </small>
		                                        <span class="post-icon" style="padding:10px;">
		                        <i class="fa fa-picture-o fa-2x"></i>
		                    </span>
		                                    </header>
		                                    <div class="post-body">
		                                        {{ content }}
		                                    </div>
		                                    <div class="row">
		                                        <div class="col-md-6 small-screen-center">
		                                            
		                                        </div>
		                                        <div class="col-md-6 text-right small-screen-center">
		                                            <div class="post-share">
		                                                
		                                                <div class="element-no-top inline-block element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
		                                                    <ul class="social-icons social-sm social-simple social-circle ">
		                                                        <li>
		                                                            <a href="https://twitter.com/share?url={{ page.url }}" target="_blank" style="background-color:#82c9ed;" data-iconcolor="#00acee">
		                                                                <i class="fa fa-twitter"></i>
		                                                            </a>
		                                                        </li>
		                                                        <li>
		                                                            <a href="https://plus.google.com/share?url={{ page.url }};images={{ page.image.Thumbnail }}" target="_blank" style="background-color:#82c9ed;"
		                                                            data-iconcolor="#dd1812">
		                                                                <i class="fa fa-google-plus"></i>
		                                                            </a>
		                                                        </li>
		                                                        <li>
		                                                            <a href="http://www.facebook.com/sharer.php?u={{ page.url }}" target="_blank" style="background-color:#82c9ed;" data-iconcolor="#3b5998">
		                                                                <i class="fa fa-facebook"></i>
		                                                            </a>
		                                                        </li>
		                                                        <li>
		                                                            <a href="//pinterest.com/pin/create/button/?url={{ page.url }};description={{ page.description }};media={{ page.image.Thumbnail }}"
		                                                            target="_blank" style="background-color:#82c9ed;" data-iconcolor="#C92228">
		                                                                <i class="fa fa-pinterest"></i>
		                                                            </a>
		                                                        </li>
		                                                    </ul>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                   
		                                </article>
		                                <nav id="nav-below" class="post-navigation post-showinfo">
											
											
											
		                                    <ul class="pager">
												{% if page.previous %}
			                                        <li class="previous">
			                                            <a class="btn btn-primary btn-icon btn-icon-left" rel="prev" href="{{ page.previous.url }}">
			                                                <i class="fa fa-angle-left"></i>
			                                                Previous
			                                            </a>
			                                        </li>
												{% else %}
			                                        <li class="previous disabled">
			                                            <a class="btn btn-primary btn-icon btn-icon-left" >
			                                                <i class="fa fa-angle-left"></i>
			                                                Previous
			                                            </a>
			                                        </li>
												{% endif %}
												
												{% if page.next %}
			                                        <li class="next">
			                                            <a class="btn btn-primary btn-icon btn-icon-right" rel="next" href="{{ page.next.url }}">
			                                                <i class="fa fa-angle-right"></i>
			                                                Next
			                                            </a>
			                                        </li>
												{% else %}
			                                        <li class="next disabled">
			                                            <a class="btn btn-primary btn-icon btn-icon-right">
			                                                <i class="fa fa-angle-right"></i>
			                                                Next
			                                            </a>
			                                        </li>
												
												{% endif %}
		                                        
		                                    </ul>
		                                </nav>
		                                
		                            </div>
									<div class="col-md-3 sidebar">
										<div id="recent-posts-3" class="sidebar-widget  widget_recent_entries">
											<h3 class="sidebar-header">
												Recent Posts
											</h3>
											<ul>
												{% for post in site.posts limit: 6 %}
												<li class="clearfix">
													<div class="post-icon">
														<a href="{{ post.url }}" title="{{ post.title}}">
															<img width="150" height="150" src="/assets/images/{{ post.image.Small }}" class="attachment-thumbnail" alt="image-08-normal">
														</a>
													</div>
													<a href="{{ post.url }}" title="The beauty of the world.">
														{{ post.title }}
													</a>
													<small class="post-date">
														{{ post.date |  date: "%-d %B %Y" }}
													</small>
												</li>
												
												{% endfor %}
		                                        
		                                        
											</ul>
										</div>
									</div>
		                        </div>
		                    </div>
		                </section>		
			
			{% include contact.html %}
					
			{% include footer.html %}
		</article>
	            
				
				
	</div>

	<script src="/assets/js/packages.min.js"></script>
	<script src="/assets/js/theme.min.js"></script>
</body>
</html>