<!DOCTYPE>
<html>
{% include head.html %}

<body class="normal-header">
	{% include header.html %}
	<div id="content">
				
		<article>
					
			<section id="two" class="section swatch-white">
				<div class="container">
					<div class="row element-normal-top element-normal-bottom">
						<div class="col-md-9">
							<article class=" post post-showinfo">
								<div class="post-media">
									<div class="figure  element-no-top element-normal-bottom image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none" data-os-animation-delay="0s">
										<a href="assets/images/uploads/image-08-normal.jpg" class="figure-image magnific" data-links="" target="_self">
											<img src="assets/images/uploads/image-08-normal.jpg" alt="" class="normalwidth">
											<div class="figure-overlay grid-overlay-0">
												<div class="figure-overlay-container">
													<span class="figure-icon">
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="none">
															<g>
																<line display="inline" fill="none" stroke-width="1" stroke-miterlimit="10" x1="50.941" y1="34.953" x2="50.941" y2="65.047"></line>
																<line display="inline" fill="none" stroke-width="1" stroke-miterlimit="10" x1="65.988" y1="50" x2="35.895" y2="50"></line>
															</g>
														</svg>
													</span>
												</div>
											</div>
										</a>
									</div>
								</div>
								<header class="post-head">
									<h1 class="post-title">
										The beauty of the world.
									</h1>
									<small>
										by <a href="blog-classic.html">Christos Pantazis</a>
										on March 14, 2014, <a href="blog-classic.html" title="Comment on The beauty of the world.">2 comments</a>
									</small>
									<span class="post-icon">
										<i class="fa fa-file-text"></i>
									</span>
								</header>
								<div class="post-body">
									<p>I did not answer, but instead reached to my side and pressed the little fingers of her I&nbsp;<strong>loved</strong>&nbsp;where they clung to me for support, and then, in unbroken&nbsp;<strong>silence</strong>,
										we sped over the yellow, moonlit moss; each of us occupied with his own thoughts. For my part I could not be other than joyful had I tried, with&nbsp;<em>Dejah Thoris</em>‘ warm body pressed close to mine, and
										with all our unpassed danger my heart was singing as gaily as though we were already entering the gates of&nbsp;<strong>Helium</strong>.</p>
										<hr>
										<h2>There is no other way for the whale to land</h2>
										<blockquote>
											<p>Our earlier plans had been so sadly upset that we now found ourselves without food or drink, and I alone was armed. We therefore urged our&nbsp;<strong>beasts</strong>&nbsp;to a speed that must tell on them
												sorely before we could hope to sight the ending of the first stage of our journey.</p>
											</blockquote>
											<div class="row">
												<div class="col-md-6">
													<a class="thumbnail magnific" href="assets/images/uploads/image-14-normal.jpg">
														<img src="assets/images/uploads/image-14-normal.jpg">
													</a>
												</div>
												<div class="col-md-6">
													<a class="thumbnail magnific" href="assets/images/uploads/image-06-normal.jpg">
														<img src="assets/images/uploads/image-06-normal.jpg">
													</a>
												</div>
											</div>
											<div style="-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;-webkit-column-gap: 30px;-moz-column-gap: 30px;column-gap: 30px;">
												<p>Another reason which <strong>Sag-Harbor</strong> (he went by that name) urged for his want of faith in this matter of the prophet, was something obscurely in reference to his incarcerated body and the whale’s
													gastric juices.</p>
													<p>But this objection likewise falls to the ground, because a German <strong>exegetist</strong> supposes that Jonah must have taken refuge in the floating body of a dead whale.</p>
													<p>Nor have there been wanting learned exegetists who have opined that the whale mentioned in the book of Jonah merely meant a life-preserver—an inflated bag of wind—which the endangered prophet swam to, and so
														was saved from a watery doom. Poor <strong>Sag-Harbor</strong>, therefore, seems worsted all round. But he had still another reason for his want of faith.</p>
													</div>
													<hr>
													<h2>The French soldiers in the Russian campaign</h2>
													<p>We rode all night and all the following day with only a few short&nbsp;<strong>rests</strong>. On the second night both we and our animals were completely fagged, and so we lay down upon the moss and slept for some
														five or six hours, taking up the journey once more before daylight. All the following day we rode, and when, late in the afternoon we had sighted no distant trees, the mark of the great waterways throughout
														all&nbsp;<strong>Barsoom</strong>, the terrible truth flashed upon us—we were lost.</p>
														<ul>
															<li>Lorem ipsum dolor sit amet</li>
															<li>Consectetur adipiscing elit</li>
															<li>Integer molestie lorem at massa</li>
															<li>Faucibus porta lacus fringilla vel</li>
															<li>Aenean sit amet erat nunc</li>
															<li>Eget porttitor lorem</li>
														</ul>
														<div class=" element-no-top element-short-bottom" data-os-animation="none" data-os-animation-delay="0s">
															<pre>&lt;ul&gt;
																&lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
																&lt;li&gt;Consectetur adipiscing elit&lt;/li&gt;
																&lt;/ul&gt;
																&lt;p&gt;
															</pre>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 small-screen-center">
															<div class="post-extras">
																<span class="post-category">
																	<i class="fa fa-folder-open"></i>
																	<a href="blog-masonry.html" title="View all posts in Nature journal" rel="tag">Nature journal</a>
																</span>
																<span class="post-tags">
																	<i class="fa fa-tags"></i>
																	<a href="blog-masonry.html" rel="tag">calm</a>, <a href="blog-masonry.html" rel="tag">nature</a>, <a href="blog-masonry.html" rel="tag">sky</a>
																</span>
																<span class="post-link">
																	<i class="fa fa-comments"></i>
																	<a href="blog-masonry.html" title="Comment on The beauty of the world.">2 comments</a>
																</span>
															</div>
														</div>
														<div class="col-md-6 text-right small-screen-center">
															<div class="post-share">
																<small>Share this post:</small>
																<div class="element-no-top inline-block element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
																	<ul class="social-icons social-sm social-simple social-circle ">
																		<li>
																			<a href="https://twitter.com/share?url=http://omega.oxygenna.com/the-beauty-of-the-natural-world-lies-in-the-details/" target="_blank" style="background-color:#82c9ed;" data-iconcolor="#00acee">
																				<i class="fa fa-twitter"></i>
																			</a>
																		</li>
																		<li>
																			<a href="https://plus.google.com/share?url=http://omega.oxygenna.com/the-beauty-of-the-natural-world-lies-in-the-details/&amp;images=http://omega.oxygenna.com/wp-content/uploads/2014/04/image-08-normal-150x150.jpg" target="_blank" style="background-color:#82c9ed;"
																			data-iconcolor="#dd1812">
																			<i class="fa fa-google-plus"></i>
																		</a>
																	</li>
																	<li>
																		<a href="http://www.facebook.com/sharer.php?u=http://omega.oxygenna.com/the-beauty-of-the-natural-world-lies-in-the-details/" target="_blank" style="background-color:#82c9ed;" data-iconcolor="#3b5998">
																			<i class="fa fa-facebook"></i>
																		</a>
																	</li>
																	<li>
																		<a href="//pinterest.com/pin/create/button/?url=http://omega.oxygenna.com/the-beauty-of-the-natural-world-lies-in-the-details/&amp;description=The%20beauty%20of%20the%20world.&amp;media=http://omega.oxygenna.com/wp-content/uploads/2014/04/image-08-normal-150x150.jpg"
																		target="_blank" style="background-color:#82c9ed;" data-iconcolor="#C92228">
																		<i class="fa fa-pinterest"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="author-info small-screen-center post-showinfo">
												<div class="author-avatar pull-left"></div>
												<div class="media-body">
													<a href="blog-classic.html">
														<h3 class="media-heading bordered bordered-small">Christos Pantazis</h3>
													</a>
													<div class="media">
														<p>
															A wild cry of exultation arose from the Heliumite squadron, and with redoubled ferocity they fell upon the <strong>Zodangan</strong> fleet. By a pretty maneuver two of the vessels of Helium gained a position
															above their adversaries, from which they poured upon them from their keel bomb <strong>batteries</strong> a perfect torrent of exploding bombs.
														</p>
													</div>
												</div>
											</div>
										</article>
										<nav id="nav-below" class="post-navigation post-showinfo">
											<ul class="pager">
												<li class="previous">
													<a class="btn btn-primary btn-icon btn-icon-left" rel="prev" href="blog-post.html">
														<i class="fa fa-angle-left"></i>
														Previous
													</a>
												</li>
											</ul>
										</nav>
										<section class="post-related post-showinfo">
											<header class="post-related-head">
												<h3 class="post-related-title">Related Posts</h3>
												<small>Take a also a look at these posts</small>
												<div class="post-icon">
													<i class="fa fa-file-text-o"></i>
												</div>
											</header>
											<div class="row">
												<div class="col-md-4 col-sm-4">
													<article class="post-related-post" style="background-image: url(assets/images/uploads/image-02-normal-300x200.jpg)">
														<h4>
															<a href="blog-post.html">
																Colors are the smiles of nature.        </a>
																<small>
																	by            Manos Proistakis        </small>
																</h4>
															</article>
														</div>
														<div class="col-md-4 col-sm-4">
															<article class="post-related-post" style="background-image: url(assets/images/uploads/image-03-normal-300x200.jpg)">
																<h4>
																	<a href="blog-post.html">
																		Coffee is a language in itself.        </a>
																		<small>
																			by            Christos Pantazis        </small>
																		</h4>
																	</article>
																</div>
																<div class="col-md-4 col-sm-4">
																	<article class="post-related-post">
																		<blockquote class=" text-left element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
																			<p>A wild cry of exultation arose from the Heliumite squadron, and with redoubled ferocity they fell upon the Zodangan fleet. By a pretty maneuver two of the vessels of Helium gained a position above their
																				adversaries, from which they poured upon them from their keel bomb batteries a perfect torrent of exploding bombs.</p>
																				<footer>Some wise words</footer>
																			</blockquote>
																		</article>
																	</div>
																</div>
															</section>
															<div class="comments padded post-showinfo" id="comments">
																<div class="comments-head">
																	<h3>
																		2 comments
																	</h3>
																	<small>
																		Join the conversation        </small>
																		<div class="post-icon">
																			<i class="fa fa-comments"></i>
																		</div>
																	</div>
																	<ul class="comments-list comments-body media-list">
																		<li class="">
																			<div class="comment byuser comment-author-christos bypostauthor even thread-even depth-1 media media-comment">
																				<div class="media-avatar pull-left">
																					<a href="http://omega.oxygenna.com/author/christos/">
																						<img alt="" src="http://1.gravatar.com/avatar/9baf024db87b6346e2a66840270034c5?s=48&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D48&amp;r=G" class="media-objects img-circle  avatar-48 photo"
																						height="48" width="48">
																					</a>
																				</div>
																				<div class="media-body">
																					<div class="media-inner">
																						<div class="comment byuser comment-author-christos bypostauthor odd alt thread-odd thread-alt depth-1" id="comment-32">
																							<h4 class="media-heading clearfix bold">
																								Christos Pantazis                                    -
																								April 29, 2014                                    <span class="comment-reply pull-right">
																									<a class="comment-reply-link" href="/the-beauty-of-the-natural-world-lies-in-the-details/?replytocom=32#respond" onclick="return addComment.moveForm(&quot;comment-32&quot;, &quot;32&quot;, &quot;respond&quot;, &quot;235&quot;)">reply</a>                                    </span>
																								</h4>
																								<p>We rode all night and all the following day with only a few short rests. On the second <strong>night</strong> both we and our animals were completely fagged, and so we lay down upon the moss and
																									slept for some five or six hours.</p>
																								</div>
																							</div>
																						</div>
																						<!-- /media body -->
																					</div>
																				</li>
																				<li class="media media-comment">
																					<div class="comment byuser comment-author-christos bypostauthor even thread-even depth-1 media media-comment">
																						<div class="media-avatar pull-left">
																							<a href="http://omega.oxygenna.com/author/christos/">
																								<img alt="" src="http://1.gravatar.com/avatar/9baf024db87b6346e2a66840270034c5?s=48&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D48&amp;r=G" class="media-objects img-circle  avatar-48 photo"
																								height="48" width="48">
																							</a>
																						</div>
																						<div class="media-body">
																							<div class="media-inner">
																								<div class="comment byuser comment-author-christos bypostauthor odd alt thread-odd thread-alt depth-1" id="comment-33">
																									<h4 class="media-heading clearfix bold">
																										Christos Pantazis                                    -
																										April 29, 2014
																										<span class="comment-reply pull-right">
																											<a class="comment-reply-link" href="#" onclick="">reply</a>
																										</span>
																									</h4>
																									<p>But this objection likewise falls to the ground, because a <strong>German</strong> exegetist supposes that Jonah must have taken refuge in the floating body of a dead whale.</p>
																								</div>
																							</div>
																						</div>
																						<!-- /media body -->
																					</div>
																				</li>
																				<!-- /#comment-list -->
																			</ul>
																		</div>
																		<div class="comments-form post-showinfo" id="respond">
																			<div class="comments-head">
																				<h3 id="reply-title">Join the conversation <small id="cancel-comment-reply"><a rel="nofollow" id="cancel-comment-reply-link" href="/the-beauty-of-the-natural-world-lies-in-the-details/#respond" style="display:none;">Cancel</a></small></h3>
																				<div class="post-icon">
																					<i class="fa fa-comment"></i>
																				</div>
																			</div>
																			<form class="comments-body">
																				<fieldset>
																					<div class="form-group form-icon-group">
																						<input id="author" name="author" placeholder="Your name *" type="text" class="input-block-level form-control" value=""><i class="fa fa-user"></i>
																					</div>
																					<div class="form-group form-icon-group">
																						<input id="email" name="email" placeholder="Your email *" type="text" class="input-block-level form-control" value=""><i class="fa fa-envelope"></i>
																					</div>
																					<div class="form-group form-icon-group">
																						<textarea id="comment" name="comment" placeholder="Your message" class="input-block-level form-control" rows="3"></textarea><i class="fa fa-pencil"></i>
																					</div>
																					<div class="form-group small-screen-center">
																						<div class="controls small-screen-center">
																							<button name="submit" type="submit" class="btn btn-primary btn-icon btn-icon-right" id="submit" value="Add comment">
																								Add comment <span>
																									<i class="fa fa-comment"></i>
																								</span>
																							</button>
																							<input type="hidden" name="comment_post_ID" value="235" id="comment_post_ID">
																							<input type="hidden" name="comment_parent" id="comment_parent" value="0">
																						</div>
																					</div>
																				</fieldset>
																			</form>
																		</div>
																	</div>
																	<div class="col-md-3 sidebar">
																		<div class="sidebar-widget  widget_search">
																			<form role="search" method="get" action="index.html">
																				<div class="input-group">
																					<input type="text" value="" name="s" class="form-control" placeholder="Search">
																					<span class="input-group-btn">
																						<button class="btn" type="submit" value="Search">
																							<i class="fa fa-search"></i>
																						</button>
																					</span>
																				</div>
																			</form>
																		</div>
																		<div id="recent-posts-3" class="sidebar-widget  widget_recent_entries">
																			<h3 class="sidebar-header">
																				Recent Posts
																			</h3>
																			<ul>
																				<li class="clearfix">
																					<div class="post-icon">
																						<a href="blog-post.html" title="The beauty of the world.">
																							<img width="150" height="150" src="assets/images/uploads/image-08-normal-150x150.jpg" class="attachment-thumbnail" alt="image-08-normal">
																						</a>
																					</div>
																					<a href="blog-post.html" title="The beauty of the world.">
																						The beauty of the world.
																					</a>
																					<small class="post-date">
																						March 14, 2014
																					</small>
																				</li>
																				<li class="clearfix">
																					<div class="post-icon">
																						<a href="blog-post.html" title="Colors are the smiles of nature.">
																							<img width="150" height="150" src="assets/images/uploads/image-02-normal-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="image-02-normal">
																						</a>
																					</div>
																					<a href="blog-post.html" title="Colors are the smiles of nature.">
																						Colors are the smiles of nature.
																					</a>
																					<small class="post-date">
																						March 1, 2014
																					</small>
																				</li>
																				<li class="clearfix">
																					<div class="post-icon">
																						<a href="blog-post.html" title="Coffee is a language in itself.">
																							<img width="150" height="150" src="assets/images/uploads/image-03-normal-150x150.jpg" class="attachment-thumbnail" alt="image-03-normal">
																						</a>
																					</div>
																					<a href="blog-post.html" title="Coffee is a language in itself.">
																						Coffee is a language in itself.
																					</a>
																					<small class="post-date">
																						February 14, 2014
																					</small>
																				</li>
																			</ul>
																		</div>
																		<div id="categories-3" class="sidebar-widget  widget_categories">
																			<h3 class="sidebar-header">
																				Categories
																			</h3>
																			<ul>
																				<li class="cat-item cat-item-65">
																					<a href="blog-classic.html" title="View all posts filed under About Design">
																						About Design
																					</a>
																				</li>
																				<li class="cat-item cat-item-62">
																					<a href="blog-classic.html" title="View all posts filed under Coffee &amp; more">
																						Coffee &amp; more
																					</a>
																				</li>
																				<li class="cat-item cat-item-47">
																					<a href="blog-classic.html" title="View all posts filed under Nature journal">
																						Nature journal
																					</a>
																				</li>
																				<li class="cat-item cat-item-54">
																					<a href="blog-classic.html" title="View all posts filed under People and more">
																						People and more
																					</a>
																				</li>
																				<li class="cat-item cat-item-1">
																					<a href="blog-classic.html" title="View all posts filed under Uncategorized">
																						Uncategorized
																					</a>
																				</li>
																				<li class="cat-item cat-item-59">
																					<a href="blog-classic.html" title="View all posts filed under Wooden things">
																						Wooden things
																					</a>
																				</li>
																			</ul>
																		</div>
																		<div id="tag_cloud-2" class="sidebar-widget  widget_tag_cloud">
																			<h3 class="sidebar-header">
																				Tags
																			</h3>
																			<div class="tagcloud">
																				<ul>
																					<li>
																						<a href="blog-classic.html">about</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">audio</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">birds</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">cactus</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">calm</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">coffee</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">design</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">field</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">flowers</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">game</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">music</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">nature</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">sky</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">sounds</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">things</a>
																					</li>
																					<li>
																						<a href="blog-classic.html">wood</a>
																					</li>
																				</ul>
																			</div>
																		</div>
																		<div id="archives-3" class="sidebar-widget  widget_archive">
																			<h3 class="sidebar-header">Archives</h3>
																			<ul>
																				<li><a href="blog-classic.html">March 2014</a>
																				</li>
																				<li><a href="blog-classic.html">February 2014</a>
																				</li>
																				<li><a href="blog-classic.html">January 2014</a>
																				</li>
																				<li><a href="blog-classic.html">December 2013</a>
																				</li>
																				<li><a href="blog-classic.html">November 2013</a>
																				</li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</section>
					
														{% include contact.html %}
					
														{% include footer.html %}
													</article>
	            
				
				
												</div>

												<script src="/assets/js/packages.min.js"></script>
												<script src="/assets/js/theme.min.js"></script>
											</body>
											</html>