<!DOCTYPE>
<html>
	{% include head.html %}

	<body class="normal-header">
		{% include header.html %}
		
		<div id="content">
			<article>
                <section id="two" class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-container element-medium-top element-medium-bottom">
                                    <div class="portfolio masonry " data-padding="15" data-col-xs="2" data-col-sm="2" data-col-md="3" data-col-lg="3" data-layout="fitRows">
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="chatime">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/chatime.jpg" alt="Chatime" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
                                                    <h3 class="figure-caption-title bordered bordered-small bordered-link">Chatime 日出茶太</h3>
                                                    <p class="figure-caption-description">
                                                        <strong>Free upsize or free topping</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        All sydney franchise, find a closest store on chatime.com.au; 243 Anzac Parade, Kingsford NSW 2032
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="dynasty">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/dynasty.jpg" alt="Chatime" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
                                                    <h3 class="figure-caption-title bordered bordered-small bordered-link">Dynasty</h3>
                                                    <p class="figure-caption-description">
                                                        <strong>10% off total bill</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        Lvl 1, 63 Dixon Street, Haymarket, NSW 2000
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="hkdriving">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/hkdriving.jpg" alt="Chatime" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
                                                    <h3 class="figure-caption-title bordered bordered-small bordered-link">HK Driving School</h3>
                                                    <p class="figure-caption-description">
                                                        <strong>$30 off</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                       422 Sussex Street, Sydney NSW 2000
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="imeal">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/imeal.jpg" alt="Chatime" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													<a href="http://www.imeal.com.au" target="_blank">
														<h3 class="figure-caption-title bordered bordered-small bordered-link">iMeal爱美味</h3>
													</a>
                                                    <p class="figure-caption-description">
                                                        <strong>每月活动主题不同</strong>
                                                    </p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="missyu">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/missyu.jpg" alt="missyu" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													
													<h3 class="figure-caption-title bordered bordered-small bordered-link">Miss 渝</h3>
													
                                                    <p class="figure-caption-description">
                                                        <strong>10% off total bill</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        438-448 Anzac Parade, Kingsford, NSW 2032
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="oporto">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/oporto.jpg" alt="missyu" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													
													<h3 class="figure-caption-title bordered bordered-small bordered-link">Oporto</h3>
												
                                                    <p class="figure-caption-description">
                                                        <strong>10% off any purchase or a free hash brown with any brekkie burger purchase</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        287-291 Anzac Parade, Kingsford, NSW 2032
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="papparoti">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/papparoti.jpg" alt="missyu" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													
													<h3 class="figure-caption-title bordered bordered-small bordered-link">Pappa Roti</h3>
												
                                                    <p class="figure-caption-description">
                                                        <strong>10% off</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        291B Anzac Parade, Kingsford, NSW 2032
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="twosticks">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/twosticks.jpg" alt="twosticks" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													
													<h3 class="figure-caption-title bordered bordered-small bordered-link">Two Sticks 金汤玉线</h3>
												
                                                    <p class="figure-caption-description">
                                                        <strong>10% off</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        All Sydney franchise
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="yongjing">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/yongjing.jpg" alt="twosticks" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													
													<h3 class="figure-caption-title bordered bordered-small bordered-link">永景味觉厨房</h3>
												
                                                    <p class="figure-caption-description">
                                                        <strong>5% off 午市特价/优惠套餐及面饭除外</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        430 Anzac Parade, Kingsford, NSW 2032
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="zhinanzhen">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/zhinanzhen.jpg" alt="zhinanzhen" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													
													<h3 class="figure-caption-title bordered bordered-small bordered-link">指南针 移民留学</h3>
												
                                                    <p class="figure-caption-description">
                                                        <strong>曼拓雅思，移民，留学</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        201/630 George Street, City
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="aolian">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/aolian.jpg" alt="aolian" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													
													<h3 class="figure-caption-title bordered bordered-small bordered-link">澳联 移民教育</h3>
												
                                                    <p class="figure-caption-description">
                                                        <strong>免费办理新西兰美国旅游签证，父母探亲签证</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        504/431-439 Sussex St, Sydney 2000
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="siit">
                                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
												<img src="{{ site.url }}/assets/images/sponsors/siit.jpg" alt="aolian" class="normalwidth">
                                                
                                                <div class="figure-caption text-center">
													
													<h3 class="figure-caption-title bordered bordered-small bordered-link">SIIT 悉尼翻译学校</h3>
												
                                                    <p class="figure-caption-description">
                                                        <strong>免费翻译试听课</strong>
                                                    </p>
                                                    <p class="figure-caption-description">
                                                        Level 5, 841 George Street, Sydney NSW 2000
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
										
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
				
				{% include contact.html %}
			</article>
		</div>

		<script src="{{ site.url }}/assets/js/packages.min.js"></script>
        <script src="{{ site.url }}/assets/js/theme.min.js"></script>
	</body>
</html>