<!DOCTYPE>
<html>
{% include head.html %}

<body class="normal-header">
	{% include header.html %}
	<div id="content">
		<article>
				
			<section id="two" class="section swatch-white">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<header class="text-center element-normal-top element-no-bottom not-condensed os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
								<h1 class="bigger hairline bordered bordered-normal">
									我们的团队
								</h1>
							</header>
							<div class="row staff-list-container list-container element-short-top element-normal-bottom">
								<div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
									<div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
										<img src="/assets/images/team/jordan.jpg" alt="President" class="normalwidth">
										<div class="figure-overlay grid-overlay-20">
											<div class="figure-overlay-container">
												<span class="figure-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
												</span>
											</div>
										</div>								
										<div class="figure-caption text-center">
											<h3 class="figure-caption-title bordered bordered-small ">
												<strong>Jordan Tse</strong> 
												<span>Presdient</span>                    
											</h3>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
									<div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
										<img src="/assets/images/team/SisiWu.jpg" alt="VicePresident" class="normalwidth">
										<div class="figure-overlay grid-overlay-20">
											<div class="figure-overlay-container">
												<span class="figure-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
												</span>
											</div>
										</div>								
										<div class="figure-caption text-center">
											<h3 class="figure-caption-title bordered bordered-small ">
												<strong>Sisi Wu</strong> 
												<span>Vice Presdient</span>                    
											</h3>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
									<div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
										<img src="/assets/images/team/Mike.jpg" alt="President" class="normalwidth">
										<div class="figure-overlay grid-overlay-20">
											<div class="figure-overlay-container">
												<span class="figure-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
												</span>
											</div>
										</div>								
										<div class="figure-caption text-center">
											<h3 class="figure-caption-title bordered bordered-small ">
												<strong>Mike Ma</strong> 
												<span>Vice Presdient</span>                    
											</h3>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
									<div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
										<img src="/assets/images/team/riki.jpg" alt="President" class="normalwidth">
										<div class="figure-overlay grid-overlay-20">
											<div class="figure-overlay-container">
												<span class="figure-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
												</span>
											</div>
										</div>								
										<div class="figure-caption text-center">
											<h3 class="figure-caption-title bordered bordered-small ">
												<strong>Ricky Guan</strong> 
												<span>Activity Director</span>                    
											</h3>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
									<div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
										<img src="/assets/images/team/nancy.jpg" alt="President" class="normalwidth">
										<div class="figure-overlay grid-overlay-20">
											<div class="figure-overlay-container">
												<span class="figure-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
												</span>
											</div>
										</div>								
										<div class="figure-caption text-center">
											<h3 class="figure-caption-title bordered bordered-small ">
												<strong>Nancy Sun</strong> 
												<span>Marketing Director</span>                    
											</h3>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
									<div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
										<img src="/assets/images/team/ivy.jpg" alt="President" class="normalwidth">
										<div class="figure-overlay grid-overlay-20">
											<div class="figure-overlay-container">
												<span class="figure-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
												</span>
											</div>
										</div>								
										<div class="figure-caption text-center">
											<h3 class="figure-caption-title bordered bordered-small ">
												<strong>Ivy Bi</strong> 
												<span>Media Director</span>                    
											</h3>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
									<div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
										<img src="/assets/images/team/guoyue.jpg" alt="President" class="normalwidth">
										<div class="figure-overlay grid-overlay-20">
											<div class="figure-overlay-container">
												<span class="figure-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
												</span>
											</div>
										</div>								
										<div class="figure-caption text-center">
											<h3 class="figure-caption-title bordered bordered-small ">
												<strong>Yue Guo</strong> 
												<span>HR Director</span>                    
											</h3>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
									<div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
										<img src="/assets/images/team/hendrick.jpg" alt="President" class="normalwidth">
										<div class="figure-overlay grid-overlay-20">
											<div class="figure-overlay-container">
												<span class="figure-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
												</span>
											</div>
										</div>								
										<div class="figure-caption text-center">
											<h3 class="figure-caption-title bordered bordered-small ">
												<strong>Hendrick Yeung</strong> 
												<span>Treasurer</span>                    
											</h3>
											
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</section>
				
				
			{% include contact.html %}
				
			{% include footer.html %}
		</article>
	</div>

	<script src="/assets/js/packages.min.js"></script>
	<script src="/assets/js/theme.min.js"></script>
</body>
</html>